.code-header {
  background-color: #50505a;
}

.code-container {
  border-color: #50505a;
}

/* .code-light {
  background-color: #282c34;
}

.code-dark {
  background-color: #282c34;
} */

// code {
//   padding: 1px 2px;
//   margin: 0;
//   font-size: 85%;
//   white-space: break-spaces;
//   background-color: rgba(175, 184, 193, .2);
//   border-radius: 6px;
// }
