/*

Atom One Light by Daniel Gamage
Original One Light Syntax theme from https://github.com/atom/one-light-syntax

base:    #fafafa
mono-1:  #383a42
mono-2:  #686b77
mono-3:  #a0a1a7
hue-1:   #0184bb
hue-2:   #4078f2
hue-3:   #a626a4
hue-4:   #50a14f
hue-5:   #e45649
hue-5-2: #c91243
hue-6:   #986801
hue-6-2: #c18401

*/

.atom-one.hljs {
  color: #383a42;
  background: #fafafa;
}

.atom-one .hljs-comment,
.atom-one .hljs-quote {
  color: #a0a1a7;
  font-style: italic;
}

.atom-one .hljs-doctag,
.atom-one .hljs-keyword,
.atom-one .hljs-formula {
  color: #a626a4;
}

.atom-one .hljs-section,
.atom-one .hljs-name,
.atom-one .hljs-selector-tag,
.atom-one .hljs-deletion,
.atom-one .hljs-subst {
  color: #e45649;
}

.atom-one .hljs-literal {
  color: #0184bb;
}

.atom-one .hljs-string,
.atom-one .hljs-regexp,
.atom-one .hljs-addition,
.atom-one .hljs-attribute,
.atom-one .hljs-meta .atom-one .hljs-string {
  color: #50a14f;
}

.atom-one .hljs-attr,
.atom-one .hljs-variable,
.atom-one .hljs-template-variable,
.atom-one .hljs-type,
.atom-one .hljs-selector-class,
.atom-one .hljs-selector-attr,
.atom-one .hljs-selector-pseudo,
.atom-one .hljs-number {
  color: #986801;
}

.atom-one .hljs-symbol,
.atom-one .hljs-bullet,
.atom-one .hljs-link,
.atom-one .hljs-meta,
.atom-one .hljs-selector-id,
.atom-one .hljs-title {
  color: #4078f2;
}

.atom-one .hljs-built_in,
.atom-one .hljs-title.class_,
.atom-one .hljs-class .atom-one .hljs-title {
  color: #c18401;
}

.atom-one .hljs-emphasis {
  font-style: italic;
}

.atom-one .hljs-strong {
  font-weight: bold;
}

.atom-one .hljs-link {
  text-decoration: underline;
}
